// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-header {
  color: green;
  text-align: center;
  padding: 5px;
  border-bottom: 3px solid green;
}

.item-footer {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #ddd;
  margin-top: 5px;
}
.item-price {
  font-size: 1.3em;
}
.item-actions {
  padding: 10px;
  border-top: 1px solid #eaeaea;
}
.item-meta-body {
  padding: 30px 30px 0px 30px;
}
.item-attribute {
  font-size: 1.5em;
  letter-spacing: -1px;
}

.item-show-image {
  padding: 30px 30px 0px 30px;
  border-right: 1px solid #ddd;
}